@font-face {
  font-family: "MyFont";
  src: url("./MyFont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "MyFont";
  src: url("./MyFont-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "MyFont";
  src: url("./MyFont-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}


