.page {
  padding: 150px 5vw;
  background-color: #f6f2de;
  font-family: "MyFont", sans-serif;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}


.title {
  text-align: center;
  font-size: 3rem;
  color: #2c2525;
  margin-bottom: 80px;
  margin-top: 50px;
}


.bgFlowerLeft,
.bgFlowerRight {
  content: "";
  position: fixed;
  width: 40vw;
  height: 40vw;
  opacity: 0.15;
  z-index: 0;
  pointer-events: none;

  mask-image: url("../assets/hvidlogo.webp");
  -webkit-mask-image: url("../assets/hvidlogo.webp");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  background: #ab531d;
  animation: slowRotate 50s linear infinite;
}

.bgFlowerLeft {
  top: 10%;
  left: -10%;
}

.bgFlowerRight {
  top: 40%;
  right: -12%;
}

@keyframes slowRotate {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}


.section {
  margin-bottom: 120px;
  position: relative;
  z-index: 2;
}

.sectionTitle {
  font-size: 2.2rem;
  color: #6b0d11;
  margin-top: 100px;
  border-left: 8px solid #820f13;
  padding-left: 12px;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.missionPic {
  width: 500px;
  height: auto;
  margin-top: 30px;
  border-radius: 10px;
  z-index: 2;
  margin-left: 50px;
  }

.text {
  max-width: 500px;
  font-size: 1.2rem;
  color: #2c2525;
  line-height: 1.7;
  margin-top: 20px;
}


.teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 40px;
  position: relative;
  z-index: 2;
  margin-top: 50px;
}


.teamCard {
  background: #fffdf1;
  border-left: 10px solid #820f13;
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s ease;
  max-width: 500px;
}

.teamCard:hover {
  transform: translateY(-5px);
  background: #ffecc2;
}

.teamImg {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.teamName {
  font-size: 1.6rem;
  color: #2c2525;
  margin-bottom: 5px;
}

.teamRole {
  font-weight: bold;
  color: #6b0d11;
  margin-bottom: 10px;
}

.teamDesc {
  font-size: 1rem;
  color: #444;
  line-height: 1.6;
}


.teamImgWrapper {
  width: 240px;
  height: 240px;
  margin: 0 auto 20px auto;
  position: relative;

  mask-image: url("../assets/hvidlogo.webp");
  -webkit-mask-image: url("../assets/hvidlogo.webp");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
}



@media (max-width: 900px) {
  .title {
    font-size: 2.5rem;
  }

  .sectionTitle {
    font-size: 1.8rem;
  }

  .section1{
    flex-direction: column;
}

.page {
  padding: 100px 5vw;

}

.title {
  margin-bottom: 0px;
}

.missionPic {
  height: 100%;
  width: 80vw;
  margin-top: 100px;
  margin-left: 0;
}

}
