* {
    margin: 0;
    padding: 0;
  }

.footer {
  background-color: #f6f2de;
  color: #2c2525;
  display: flex;
  justify-content: space-around;
  padding: 100px 20px 60px 20px;
  font-family: "MyFont", sans-serif;
  align-items: center;
  z-index: 100;
}

.footer h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  z-index: 3;
}

.footer p {
  margin: 5px 0;
  font-size: 1rem;
  opacity: 0.9;
  z-index: 3;
}

.fb, .insta{
    width: 50px;
  }

.brev{
    width: 69px;
  }

.linkWrapper{
    display: flex;
    gap: 20px;
  }


@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 30px 20px 60px 20px;
  }


.fb, .insta{
    width: 35px;
  }

.brev{
    width: 44px;
  }

.linkWrapper{
margin-top: 15px;
  }


}


